<!DOCTYPE html>
<!-- {{ ansible_managed }} -->
<html>
  <head>
      <title>{{ g_app_title | default('Demo Application') }}</title>
  </head>
  <body>
    <h2>Create a new post</h2>
    <form method="POST" action="{{ g_api_end_point | default('/submit') }}">
      <div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div>
        <textarea name="message" placeholder="Message"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
