<!DOCTYPE html>
<!-- {{ ansible_managed }} -->
<html>
  <head>
      <title>{{ g_app_title | default('Demo Front End') }}</title>
  </head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
  <body>
    <h2>Create a new post</h2>
	<div>
    <form method="POST" action="{{ g_api_base_path | default('/api') }}/submit">
		<label for="lname">Nombre</label>
        <input type="text" id="lname" name="name" placeholder="Name">
		<label for="lmsg">Mensaje</label>
        <input type="text" id="lmsg" name="message" placeholder="Message">
        <input type="submit" value="Submit">
    </form>
	</div>
    <h4>Host: {{ ansible_hostname | default('Web Server') }}</h4>
  </body>
</html>
